.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.env
.env.testing
tests
playwright
playwright-report
test-results
blob-report
